node_red.json
[{
	"id": "ca9c0d4d.800a6",
	"type": "tab",
	"label": "Bot Telegram",
	"disabled": false,
	"info": "Flow que é feito as funções do controle pelo bot do telegram, com entradas do Flow de dashboard\n"
}, {
	"id": "defd9396.4d5d1",
	"type": "tab",
	"label": "Flow de Dashboard",
	"disabled": false,
	"info": ""
}, {
	"id": "787c728d.8301ec",
	"type": "mqtt-broker",
	"z": "",
	"name": "HouseBroker",
	"broker": "192.168.0.100",
	"port": "1883",
	"clientid": "",
	"usetls": false,
	"compatmode": false,
	"keepalive": "60",
	"cleansession": true,
	"birthTopic": "",
	"birthQos": "0",
	"birthPayload": "",
	"closeTopic": "",
	"closeQos": "0",
	"closePayload": "",
	"willTopic": "",
	"willQos": "0",
	"willPayload": ""
}, {
	"id": "aa69a822.8f4918",
	"type": "ui_group",
	"z": 0,
	"name": "GroupLogout",
	"tab": "39575d00.034224",
	"order": 5,
	"disp": false,
	"width": "4",
	"collapse": false
}, {
	"id": "dc75d860.8c2c38",
	"type": "ui_group",
	"z": "",
	"name": "Login",
	"tab": "39575d00.034224",
	"order": 1,
	"disp": true,
	"width": "6",
	"collapse": false
}, {
	"id": "14e226c6.e7f949",
	"type": "mqtt-broker",
	"z": "",
	"name": "HouseBroker",
	"broker": "192.168.0.100",
	"port": "1883",
	"clientid": "",
	"usetls": false,
	"compatmode": false,
	"keepalive": "60",
	"cleansession": true,
	"birthTopic": "",
	"birthQos": "0",
	"birthPayload": "",
	"closeTopic": "",
	"closeQos": "0",
	"closePayload": "",
	"willTopic": "",
	"willQos": "0",
	"willPayload": ""
}, {
	"id": "e62c985d.8fd8c8",
	"type": "ui_group",
	"z": "",
	"name": "Luz 1",
	"tab": "39575d00.034224",
	"order": 2,
	"disp": true,
	"width": "6",
	"collapse": false
}, {
	"id": "dc2a8a5d.ec70a8",
	"type": "ui_group",
	"z": "",
	"name": "Luz 2",
	"tab": "39575d00.034224",
	"order": 3,
	"disp": true,
	"width": "6",
	"collapse": false
}, {
	"id": "5291c7f.58fd738",
	"type": "mqtt-broker",
	"z": "",
	"name": "",
	"broker": "192.168.0.100",
	"port": "1883",
	"clientid": "",
	"usetls": false,
	"verifyservercert": true,
	"compatmode": true,
	"keepalive": "15",
	"cleansession": true,
	"birthTopic": "",
	"birthQos": "0",
	"birthRetain": null,
	"birthPayload": "",
	"closeTopic": "",
	"closePayload": "",
	"willTopic": "",
	"willQos": "0",
	"willRetain": null,
	"willPayload": ""
}, {
	"id": "43e02f36.83caf",
	"type": "ui_group",
	"z": "",
	"name": "Presença",
	"tab": "39575d00.034224",
	"order": 4,
	"disp": true,
	"width": "6",
	"collapse": false
}, {
	"id": "39575d00.034224",
	"type": "ui_tab",
	"z": "",
	"name": "Home",
	"icon": "dashboard",
	"order": 1,
	"disabled": false,
	"hidden": false
}, {
	"id": "74f03ca9.1398a4",
	"type": "chatbot-telegram-node",
	"z": "",
	"botname": "controle_luzes_bot",
	"usernames": "",
	"providerToken": "",
	"polling": "1000",
	"store": "",
	"log": "",
	"parseMode": "",
	"debug": false,
	"webHook": "",
	"connectMode": "polling"
}, {
	"id": "1cb4c189.a5631e",
	"type": "ui_group",
	"z": 0,
	"name": "GroupLogout",
	"tab": "2c154948.c07cb6",
	"order": 5,
	"disp": false,
	"width": "4",
	"collapse": false
}, {
	"id": "becc42f9.4c174",
	"type": "ui_group",
	"z": "",
	"name": "Login",
	"tab": "2c154948.c07cb6",
	"order": 1,
	"disp": true,
	"width": "6",
	"collapse": false
}, {
	"id": "9a13df65.e1351",
	"type": "mqtt-broker",
	"z": "",
	"name": "HouseBroker",
	"broker": "192.168.0.100",
	"port": "1883",
	"clientid": "",
	"usetls": false,
	"compatmode": false,
	"keepalive": "60",
	"cleansession": true,
	"birthTopic": "",
	"birthQos": "0",
	"birthPayload": "",
	"closeTopic": "",
	"closeQos": "0",
	"closePayload": "",
	"willTopic": "",
	"willQos": "0",
	"willPayload": ""
}, {
	"id": "b8b4ed2.aeeb11",
	"type": "ui_group",
	"z": "",
	"name": "Luz 1",
	"tab": "2c154948.c07cb6",
	"order": 2,
	"disp": true,
	"width": "6",
	"collapse": false
}, {
	"id": "2d55317a.6e7ace",
	"type": "ui_group",
	"z": "",
	"name": "Luz 2",
	"tab": "2c154948.c07cb6",
	"order": 3,
	"disp": true,
	"width": "6",
	"collapse": false
}, {
	"id": "44c7aac4.eec464",
	"type": "mqtt-broker",
	"z": "",
	"name": "",
	"broker": "192.168.0.100",
	"port": "1883",
	"clientid": "",
	"usetls": false,
	"verifyservercert": true,
	"compatmode": true,
	"keepalive": "15",
	"cleansession": true,
	"birthTopic": "",
	"birthQos": "0",
	"birthRetain": null,
	"birthPayload": "",
	"closeTopic": "",
	"closePayload": "",
	"willTopic": "",
	"willQos": "0",
	"willRetain": null,
	"willPayload": ""
}, {
	"id": "cb24ed45.a15f5",
	"type": "ui_group",
	"z": "",
	"name": "Presença",
	"tab": "2c154948.c07cb6",
	"order": 4,
	"disp": true,
	"width": "6",
	"collapse": false
}, {
	"id": "2c154948.c07cb6",
	"type": "ui_tab",
	"z": "",
	"name": "Home",
	"icon": "dashboard",
	"order": 1,
	"disabled": false,
	"hidden": false
}, {
	"id": "45f61e0e.c8227",
	"type": "debug",
	"z": "ca9c0d4d.800a6",
	"name": "Deploy Recever",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"targetType": "full",
	"x": 280,
	"y": 240,
	"wires": []
}, {
	"id": "46813194.9049b",
	"type": "switch",
	"z": "ca9c0d4d.800a6",
	"name": "Condicional",
	"property": "payload.content",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "Luz 1",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "luz 1",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "Luz 2",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "luz 2",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "Sair",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "sair",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "Presença",
		"vt": "str"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 7,
	"x": 1270,
	"y": 420,
	"wires": [
		["8cd828d3.81b188"],
		["8cd828d3.81b188"],
		["122d12f.fb449ed"],
		["122d12f.fb449ed"],
		["25ea38d7.9565d8"],
		["25ea38d7.9565d8"],
		["a2f11b31.59ad88"]
	]
}, {
	"id": "61d52cc5.e230b4",
	"type": "change",
	"z": "ca9c0d4d.800a6",
	"name": "convertPayloadAndTopic",
	"rules": [{
		"t": "set",
		"p": "payload",
		"pt": "msg",
		"to": "1",
		"tot": "str"
	}, {
		"t": "set",
		"p": "topic",
		"pt": "msg",
		"to": "comodo1/luz1",
		"tot": "str"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 2210,
	"y": 200,
	"wires": [
		["785df1c0.2a98a"]
	],
	"info": "Nó para conversão da mensagem para o formato adequada do comunicação estabelecida."
}, {
	"id": "c659f5c2.559c48",
	"type": "switch",
	"z": "ca9c0d4d.800a6",
	"name": "Condicional",
	"property": "payload.content",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "on",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "ON",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "OFF",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "off",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "p",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "P",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "Presença",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "presença",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "Back",
		"vt": "str"
	}],
	"checkall": "false",
	"repair": false,
	"outputs": 9,
	"x": 1830,
	"y": 440,
	"wires": [
		["61d52cc5.e230b4", "174a4e55.9ac492"],
		["61d52cc5.e230b4", "174a4e55.9ac492"],
		["11acbd60.401fb3", "174a4e55.9ac492"],
		["11acbd60.401fb3", "174a4e55.9ac492"],
		["9e5d9e03.9655", "174a4e55.9ac492"],
		["9e5d9e03.9655", "174a4e55.9ac492"],
		["9e5d9e03.9655", "174a4e55.9ac492"],
		["9e5d9e03.9655", "174a4e55.9ac492"],
		["1a84814e.f9a84f"]
	]
}, {
	"id": "785df1c0.2a98a",
	"type": "mqtt out",
	"z": "ca9c0d4d.800a6",
	"name": "Send1",
	"topic": "",
	"qos": "2",
	"retain": "false",
	"broker": "787c728d.8301ec",
	"x": 2410,
	"y": 200,
	"wires": []
}, {
	"id": "11acbd60.401fb3",
	"type": "change",
	"z": "ca9c0d4d.800a6",
	"name": "convertPayloadAndTopic",
	"rules": [{
		"t": "set",
		"p": "payload",
		"pt": "msg",
		"to": "0",
		"tot": "str"
	}, {
		"t": "set",
		"p": "topic",
		"pt": "msg",
		"to": "comodo1/luz1",
		"tot": "str"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 2210,
	"y": 140,
	"wires": [
		["8e6b35cf.a63068"]
	],
	"info": "Nó para conversão da mensagem para o formato adequada do comunicação estabelecida."
}, {
	"id": "8e6b35cf.a63068",
	"type": "mqtt out",
	"z": "ca9c0d4d.800a6",
	"name": "Send0",
	"topic": "",
	"qos": "2",
	"retain": "false",
	"broker": "787c728d.8301ec",
	"x": 2410,
	"y": 140,
	"wires": []
}, {
	"id": "9e5d9e03.9655",
	"type": "change",
	"z": "ca9c0d4d.800a6",
	"name": "convertPayloadAndTopic",
	"rules": [{
		"t": "set",
		"p": "payload",
		"pt": "msg",
		"to": "2",
		"tot": "str"
	}, {
		"t": "set",
		"p": "topic",
		"pt": "msg",
		"to": "comodo1/luz1",
		"tot": "str"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 2210,
	"y": 260,
	"wires": [
		["50ac7881.e50a68"]
	],
	"info": "Nó para conversão da mensagem para o formato adequada do comunicação estabelecida."
}, {
	"id": "50ac7881.e50a68",
	"type": "mqtt out",
	"z": "ca9c0d4d.800a6",
	"name": "Send2",
	"topic": "",
	"qos": "2",
	"retain": "false",
	"broker": "787c728d.8301ec",
	"x": 2410,
	"y": 260,
	"wires": []
}, {
	"id": "7da7f767.2f4518",
	"type": "change",
	"z": "ca9c0d4d.800a6",
	"name": "convertPayloadAndTopic",
	"rules": [{
		"t": "set",
		"p": "payload",
		"pt": "msg",
		"to": "1",
		"tot": "str"
	}, {
		"t": "set",
		"p": "topic",
		"pt": "msg",
		"to": "comodo1/luz2",
		"tot": "str"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 2430,
	"y": 560,
	"wires": [
		["d0dd5827.e75a38"]
	],
	"info": "Nó para conversão da mensagem para o formato adequada do comunicação estabelecida."
}, {
	"id": "bea6d527.9bf1d8",
	"type": "switch",
	"z": "ca9c0d4d.800a6",
	"name": "Condicional",
	"property": "payload.content",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "on",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "ON",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "OFF",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "off",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "p",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "P",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "Presença",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "presença",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "Back",
		"vt": "str"
	}],
	"checkall": "false",
	"repair": false,
	"outputs": 9,
	"x": 1990,
	"y": 760,
	"wires": [
		["7da7f767.2f4518", "59fdf9c2.c44f08"],
		["7da7f767.2f4518", "59fdf9c2.c44f08"],
		["b84dd.e0721b23", "59fdf9c2.c44f08"],
		["b84dd.e0721b23", "59fdf9c2.c44f08"],
		["bad747c3.638018", "59fdf9c2.c44f08"],
		["bad747c3.638018", "59fdf9c2.c44f08"],
		["bad747c3.638018", "59fdf9c2.c44f08"],
		["bad747c3.638018", "59fdf9c2.c44f08"],
		["1a84814e.f9a84f"]
	]
}, {
	"id": "d0dd5827.e75a38",
	"type": "mqtt out",
	"z": "ca9c0d4d.800a6",
	"name": "Send1",
	"topic": "",
	"qos": "2",
	"retain": "false",
	"broker": "787c728d.8301ec",
	"x": 2630,
	"y": 560,
	"wires": []
}, {
	"id": "b84dd.e0721b23",
	"type": "change",
	"z": "ca9c0d4d.800a6",
	"name": "convertPayloadAndTopic",
	"rules": [{
		"t": "set",
		"p": "payload",
		"pt": "msg",
		"to": "0",
		"tot": "str"
	}, {
		"t": "set",
		"p": "topic",
		"pt": "msg",
		"to": "comodo1/luz2",
		"tot": "str"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 2430,
	"y": 640,
	"wires": [
		["5b53c517.af8f3c"]
	],
	"info": "Nó para conversão da mensagem para o formato adequada do comunicação estabelecida."
}, {
	"id": "5b53c517.af8f3c",
	"type": "mqtt out",
	"z": "ca9c0d4d.800a6",
	"name": "Send1",
	"topic": "",
	"qos": "2",
	"retain": "false",
	"broker": "787c728d.8301ec",
	"x": 2630,
	"y": 640,
	"wires": []
}, {
	"id": "bad747c3.638018",
	"type": "change",
	"z": "ca9c0d4d.800a6",
	"name": "convertPayloadAndTopic",
	"rules": [{
		"t": "set",
		"p": "payload",
		"pt": "msg",
		"to": "2",
		"tot": "str"
	}, {
		"t": "set",
		"p": "topic",
		"pt": "msg",
		"to": "comodo1/luz2",
		"tot": "str"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 2430,
	"y": 740,
	"wires": [
		["80580ec4.39a1e"]
	],
	"info": "Nó para conversão da mensagem para o formato adequada do comunicação estabelecida."
}, {
	"id": "80580ec4.39a1e",
	"type": "mqtt out",
	"z": "ca9c0d4d.800a6",
	"name": "Send1",
	"topic": "",
	"qos": "2",
	"retain": "false",
	"broker": "787c728d.8301ec",
	"x": 2630,
	"y": 740,
	"wires": []
}, {
	"id": "a2f11b31.59ad88",
	"type": "switch",
	"z": "ca9c0d4d.800a6",
	"name": "switch presença",
	"property": "presenca",
	"propertyType": "global",
	"rules": [{
		"t": "eq",
		"v": "1",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "0",
		"vt": "str"
	}, {
		"t": "else"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 3,
	"x": 1640,
	"y": 1220,
	"wires": [
		["f916330a.0a82"],
		["b30b20e0.3b7f6"],
		["652ce65e.fe7468"]
	]
}, {
	"id": "ef34f79b.4cb128",
	"type": "switch",
	"z": "ca9c0d4d.800a6",
	"name": "switch atualiza/volta",
	"property": "payload.content",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "Voltar",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "Atualizar",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "Cadastrar",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "Descadastrar",
		"vt": "str"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 4,
	"x": 2520,
	"y": 1100,
	"wires": [
		["1a84814e.f9a84f"],
		["a2f11b31.59ad88"],
		["3f422d24.6688d2", "10a95a91.6a6fc5"],
		["51dfcfc6.8039", "4a728d79.bbb5a4"]
	]
}, {
	"id": "713db47a.7fbe5c",
	"type": "link in",
	"z": "ca9c0d4d.800a6",
	"name": "",
	"links": ["f5f6f3e5.03f438"],
	"x": 555,
	"y": 760,
	"wires": [
		["6b79c9eb.761058", "22e428d8.0d57c8"]
	]
}, {
	"id": "6b79c9eb.761058",
	"type": "debug",
	"z": "ca9c0d4d.800a6",
	"name": "Inicio conversação",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"targetType": "full",
	"x": 900,
	"y": 940,
	"wires": []
}, {
	"id": "2205d871.614bd8",
	"type": "switch",
	"z": "ca9c0d4d.800a6",
	"name": "",
	"property": "payload",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "1",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "0",
		"vt": "str"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 2,
	"x": 810,
	"y": 760,
	"wires": [
		["6a3783b5.5cfa3c"],
		["e82a2466.ee85f8"]
	]
}, {
	"id": "22e428d8.0d57c8",
	"type": "switch",
	"z": "ca9c0d4d.800a6",
	"name": "",
	"property": "cadastro_presença",
	"propertyType": "flow",
	"rules": [{
		"t": "eq",
		"v": "1",
		"vt": "str"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 1,
	"x": 690,
	"y": 760,
	"wires": [
		["2205d871.614bd8", "8c74b719.9e1ac8"]
	]
}, {
	"id": "8c74b719.9e1ac8",
	"type": "debug",
	"z": "ca9c0d4d.800a6",
	"name": "",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 870,
	"y": 880,
	"wires": []
}, {
	"id": "3f422d24.6688d2",
	"type": "function",
	"z": "ca9c0d4d.800a6",
	"name": "Set content Cadastro presença Lampada1",
	"func": "flow.set(\"cadastro_presença\", \"1\");\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 2740,
	"y": 1240,
	"wires": [
		[]
	]
}, {
	"id": "51dfcfc6.8039",
	"type": "function",
	"z": "ca9c0d4d.800a6",
	"name": "Set content Cadastro presença Lampada1",
	"func": "flow.set(\"cadastro_presença\", \"0\");\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 2740,
	"y": 1300,
	"wires": [
		[]
	]
}, {
	"id": "277f6a94.9dfee6",
	"type": "function",
	"z": "ca9c0d4d.800a6",
	"name": "Set content Cadastro presença Lampada1",
	"func": "var chatId_local = msg.payload.chatId;\nvar lista_cadastrados = flow.get(\"cadastrados\")||[];\n\nflow.set(\"chatId\", chatId_local);\nflow.set(\"cadastrados\", lista_cadastrados);\n\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 820,
	"y": 200,
	"wires": [
		[]
	]
}, {
	"id": "8ac983f9.47726",
	"type": "switch",
	"z": "ca9c0d4d.800a6",
	"name": "Condicional",
	"property": "payload.content",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "grupo05",
		"vt": "str"
	}, {
		"t": "else"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 2,
	"x": 450,
	"y": 460,
	"wires": [
		["ffdb9fef.f8a5a"],
		["102f5b25.554c25"]
	]
}, {
	"id": "6826498b.b9c5e8",
	"type": "switch",
	"z": "ca9c0d4d.800a6",
	"name": "Condicional",
	"property": "payload.content",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "iotgrupo05",
		"vt": "str"
	}, {
		"t": "else"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 2,
	"x": 610,
	"y": 380,
	"wires": [
		["1a84814e.f9a84f", "c6f05e48.78da4"],
		["102f5b25.554c25"]
	]
}, {
	"id": "c6f05e48.78da4",
	"type": "function",
	"z": "ca9c0d4d.800a6",
	"name": "Set content Cadastro presença Lampada1",
	"func": "var lista_Cadastros = flow.get(\"cadastrados\");\nvar chatId = msg.payload.chatId;\nlista_Cadastros.push(chatId);\nflow.set(\"cadastrados\", lista_Cadastros);\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 820,
	"y": 260,
	"wires": [
		[]
	]
}, {
	"id": "913abe80.48c3",
	"type": "switch",
	"z": "ca9c0d4d.800a6",
	"name": "",
	"property": "cadastrados",
	"propertyType": "flow",
	"rules": [{
		"t": "regex",
		"v": "chatId",
		"vt": "flow",
		"case": false
	}, {
		"t": "else"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 2,
	"x": 270,
	"y": 380,
	"wires": [
		["1a84814e.f9a84f"],
		["102f5b25.554c25"]
	]
}, {
	"id": "4adc7a3a.e28714",
	"type": "chatbot-telegram-receive",
	"z": "ca9c0d4d.800a6",
	"bot": "74f03ca9.1398a4",
	"botProduction": "",
	"x": 290,
	"y": 300,
	"wires": [
		["45f61e0e.c8227", "277f6a94.9dfee6", "913abe80.48c3"]
	]
}, {
	"id": "bdf840cc.7fda9",
	"type": "chatbot-telegram-send",
	"z": "ca9c0d4d.800a6",
	"bot": "74f03ca9.1398a4",
	"botProduction": "",
	"track": true,
	"passThrough": false,
	"outputs": 1,
	"x": 1070,
	"y": 400,
	"wires": [
		["46813194.9049b"]
	]
}, {
	"id": "65e54326.1c1f8c",
	"type": "chatbot-telegram-send",
	"z": "ca9c0d4d.800a6",
	"bot": "74f03ca9.1398a4",
	"botProduction": "",
	"track": true,
	"passThrough": false,
	"outputs": 1,
	"x": 1650,
	"y": 320,
	"wires": [
		["c659f5c2.559c48"]
	]
}, {
	"id": "58219301.21d85c",
	"type": "chatbot-telegram-send",
	"z": "ca9c0d4d.800a6",
	"bot": "74f03ca9.1398a4",
	"botProduction": "",
	"track": true,
	"passThrough": false,
	"outputs": 1,
	"x": 1790,
	"y": 620,
	"wires": [
		["bea6d527.9bf1d8"]
	]
}, {
	"id": "1ff57645.437baa",
	"type": "chatbot-telegram-send",
	"z": "ca9c0d4d.800a6",
	"bot": "74f03ca9.1398a4",
	"botProduction": "",
	"track": true,
	"passThrough": true,
	"outputs": 1,
	"x": 2970,
	"y": 640,
	"wires": [
		["122d12f.fb449ed"]
	]
}, {
	"id": "723f066c.654278",
	"type": "chatbot-telegram-send",
	"z": "ca9c0d4d.800a6",
	"bot": "74f03ca9.1398a4",
	"botProduction": "",
	"track": false,
	"passThrough": false,
	"outputs": 0,
	"x": 2030,
	"y": 940,
	"wires": []
}, {
	"id": "88a22bcb.483808",
	"type": "chatbot-telegram-send",
	"z": "ca9c0d4d.800a6",
	"bot": "74f03ca9.1398a4",
	"botProduction": "",
	"track": true,
	"passThrough": true,
	"outputs": 1,
	"x": 2130,
	"y": 1220,
	"wires": [
		["b1769279.66e46"]
	]
}, {
	"id": "7f488b0c.2c6ef4",
	"type": "chatbot-telegram-send",
	"z": "ca9c0d4d.800a6",
	"bot": "74f03ca9.1398a4",
	"botProduction": "",
	"track": true,
	"passThrough": true,
	"outputs": 1,
	"x": 2270,
	"y": 1100,
	"wires": [
		["ef34f79b.4cb128"]
	]
}, {
	"id": "c75b3661.9c7f58",
	"type": "chatbot-telegram-send",
	"z": "ca9c0d4d.800a6",
	"bot": "74f03ca9.1398a4",
	"botProduction": "",
	"track": false,
	"passThrough": false,
	"outputs": 0,
	"x": 1510,
	"y": 760,
	"wires": []
}, {
	"id": "6cf665aa.5e138c",
	"type": "chatbot-telegram-send",
	"z": "ca9c0d4d.800a6",
	"bot": "74f03ca9.1398a4",
	"botProduction": "",
	"track": true,
	"passThrough": true,
	"outputs": 1,
	"x": 2710,
	"y": 340,
	"wires": [
		["8cd828d3.81b188"]
	]
}, {
	"id": "89b2a244.b595e",
	"type": "chatbot-telegram-send",
	"z": "ca9c0d4d.800a6",
	"bot": "74f03ca9.1398a4",
	"botProduction": "",
	"track": true,
	"passThrough": true,
	"outputs": 1,
	"x": 3210,
	"y": 1280,
	"wires": [
		["b1769279.66e46"]
	]
}, {
	"id": "92ab9af0.4bb368",
	"type": "chatbot-telegram-send",
	"z": "ca9c0d4d.800a6",
	"bot": "74f03ca9.1398a4",
	"botProduction": "",
	"track": true,
	"passThrough": false,
	"outputs": 1,
	"x": 430,
	"y": 540,
	"wires": [
		["8ac983f9.47726"]
	]
}, {
	"id": "afb8cd69.9438",
	"type": "chatbot-telegram-send",
	"z": "ca9c0d4d.800a6",
	"bot": "74f03ca9.1398a4",
	"botProduction": "",
	"track": true,
	"passThrough": false,
	"outputs": 1,
	"x": 670,
	"y": 440,
	"wires": [
		["6826498b.b9c5e8"]
	]
}, {
	"id": "174a4e55.9ac492",
	"type": "chatbot-message",
	"z": "ca9c0d4d.800a6",
	"name": "log comando enviado",
	"message": [{
		"message": "Sr, seu comando foi enviado ao Broker :space_invader:"
	}],
	"answer": false,
	"silent": true,
	"x": 2320,
	"y": 340,
	"wires": [
		["6cf665aa.5e138c"]
	]
}, {
	"id": "59fdf9c2.c44f08",
	"type": "chatbot-message",
	"z": "ca9c0d4d.800a6",
	"name": "log comando enviado",
	"message": [{
		"message": "Sr, seu comando foi enviado ao Broker :space_invader:"
	}],
	"answer": false,
	"silent": true,
	"x": 2520,
	"y": 820,
	"wires": [
		["1ff57645.437baa"]
	]
}, {
	"id": "25ea38d7.9565d8",
	"type": "chatbot-message",
	"z": "ca9c0d4d.800a6",
	"name": "Saindo",
	"message": [{
		"message": "Adeus! :space_invader:"
	}],
	"answer": false,
	"silent": true,
	"x": 1740,
	"y": 940,
	"wires": [
		["723f066c.654278"]
	]
}, {
	"id": "f916330a.0a82",
	"type": "chatbot-message",
	"z": "ca9c0d4d.800a6",
	"name": "Presença",
	"message": [{
		"message": "Há alguém no quarto, Sr! :space_invader:"
	}],
	"answer": true,
	"silent": true,
	"x": 1860,
	"y": 1160,
	"wires": [
		["88a22bcb.483808"]
	]
}, {
	"id": "b30b20e0.3b7f6",
	"type": "chatbot-message",
	"z": "ca9c0d4d.800a6",
	"name": "sem presença",
	"message": [{
		"message": "Não há ninguém no quarto, Sr. :space_invader:"
	}],
	"answer": true,
	"silent": true,
	"x": 1840,
	"y": 1220,
	"wires": [
		["88a22bcb.483808"]
	]
}, {
	"id": "652ce65e.fe7468",
	"type": "chatbot-message",
	"z": "ca9c0d4d.800a6",
	"name": "Presença NULL",
	"message": [{
		"message": "Inicie o modo de Presença! :space_invader:"
	}],
	"answer": true,
	"silent": true,
	"x": 1840,
	"y": 1280,
	"wires": [
		["88a22bcb.483808"]
	]
}, {
	"id": "e128066e.3e2fb8",
	"type": "chatbot-message",
	"z": "ca9c0d4d.800a6",
	"name": "Presença",
	"message": [{
		"message": "Há alguém no quarto, Sr! :space_invader:"
	}],
	"answer": false,
	"silent": false,
	"x": 1300,
	"y": 740,
	"wires": [
		["c75b3661.9c7f58"]
	]
}, {
	"id": "e658b888.5a7d18",
	"type": "chatbot-message",
	"z": "ca9c0d4d.800a6",
	"name": "sem presença",
	"message": [{
		"message": "Não há ninguém no quarto, Sr. :space_invader:"
	}],
	"answer": false,
	"silent": false,
	"x": 1280,
	"y": 800,
	"wires": [
		["c75b3661.9c7f58"]
	]
}, {
	"id": "10a95a91.6a6fc5",
	"type": "chatbot-message",
	"z": "ca9c0d4d.800a6",
	"name": "log cadastro",
	"message": [{
		"message": "Sr, você será notificado a cada mudança de presença! :space_invader:"
	}],
	"answer": false,
	"silent": true,
	"x": 2770,
	"y": 1120,
	"wires": [
		["89b2a244.b595e"]
	]
}, {
	"id": "4a728d79.bbb5a4",
	"type": "chatbot-message",
	"z": "ca9c0d4d.800a6",
	"name": "log cadastro",
	"message": [{
		"message": "Sr, você não será mais notificado a cada mudança de presença! :space_invader:"
	}],
	"answer": false,
	"silent": true,
	"x": 2770,
	"y": 1160,
	"wires": [
		["89b2a244.b595e"]
	]
}, {
	"id": "42555631.db03e8",
	"type": "chatbot-message",
	"z": "ca9c0d4d.800a6",
	"name": "login",
	"message": [{
		"message": "Autenticação inicial. Digite seu login:"
	}],
	"answer": false,
	"silent": false,
	"x": 250,
	"y": 540,
	"wires": [
		["92ab9af0.4bb368"]
	]
}, {
	"id": "ffdb9fef.f8a5a",
	"type": "chatbot-message",
	"z": "ca9c0d4d.800a6",
	"name": "senha",
	"message": [{
		"message": "Autenticação inicial. Digite sua senha:"
	}],
	"answer": false,
	"silent": false,
	"x": 650,
	"y": 480,
	"wires": [
		["afb8cd69.9438"]
	]
}, {
	"id": "1a84814e.f9a84f",
	"type": "chatbot-ask",
	"z": "ca9c0d4d.800a6",
	"name": "",
	"buttons": [{
		"type": "keyboardButton",
		"label": "Luz 1"
	}, {
		"type": "keyboardButton",
		"label": "Luz 2"
	}, {
		"type": "keyboardButton",
		"label": "Presença"
	}, {
		"type": "keyboardButton",
		"label": "Sair"
	}],
	"message": "Olá Sr. {{firstName}} Qual device deseja controlar? :space_invader:",
	"x": 890,
	"y": 400,
	"wires": [
		["bdf840cc.7fda9"]
	]
}, {
	"id": "8cd828d3.81b188",
	"type": "chatbot-ask",
	"z": "ca9c0d4d.800a6",
	"name": "",
	"buttons": [{
		"type": "keyboardButton",
		"label": "ON"
	}, {
		"type": "keyboardButton",
		"label": "OFF"
	}, {
		"type": "keyboardButton",
		"label": "Presença"
	}, {
		"type": "keyboardButton",
		"label": "Back"
	}],
	"message": "Sr. {{firstName}}, deseja realizar qual comando em Luz 1? :space_invader:",
	"x": 1450,
	"y": 240,
	"wires": [
		["65e54326.1c1f8c"]
	]
}, {
	"id": "122d12f.fb449ed",
	"type": "chatbot-ask",
	"z": "ca9c0d4d.800a6",
	"name": "",
	"buttons": [{
		"type": "keyboardButton",
		"label": "ON"
	}, {
		"type": "keyboardButton",
		"label": "OFF"
	}, {
		"type": "keyboardButton",
		"label": "Presença"
	}, {
		"type": "keyboardButton",
		"label": "Back"
	}],
	"message": "Sr. {{firstName}}, deseja realizar qual comando em Luz 2? :space_invader:",
	"x": 1610,
	"y": 540,
	"wires": [
		["58219301.21d85c"]
	]
}, {
	"id": "b1769279.66e46",
	"type": "chatbot-ask",
	"z": "ca9c0d4d.800a6",
	"name": "",
	"buttons": [{
		"type": "keyboardButton",
		"label": "Atualizar"
	}, {
		"type": "keyboardButton",
		"label": "Cadastrar"
	}, {
		"type": "keyboardButton",
		"label": "Descadastrar"
	}, {
		"type": "keyboardButton",
		"label": "Voltar"
	}],
	"message": "Sr., deseja voltar ou atualizar a presença? :space_invader:",
	"x": 2070,
	"y": 1100,
	"wires": [
		["7f488b0c.2c6ef4"]
	]
}, {
	"id": "6a3783b5.5cfa3c",
	"type": "chatbot-conversation",
	"z": "ca9c0d4d.800a6",
	"name": "",
	"botDevelopment": "592a3422.10567c",
	"botProduction": "",
	"chatId": "863426331",
	"userId": "",
	"transport": "telegram",
	"store": "",
	"x": 970,
	"y": 740,
	"wires": [
		["e128066e.3e2fb8"]
	]
}, {
	"id": "e82a2466.ee85f8",
	"type": "chatbot-conversation",
	"z": "ca9c0d4d.800a6",
	"name": "",
	"botDevelopment": "592a3422.10567c",
	"botProduction": "",
	"chatId": "863426331",
	"userId": "",
	"transport": "telegram",
	"store": "",
	"x": 970,
	"y": 800,
	"wires": [
		["e658b888.5a7d18"]
	]
}, {
	"id": "102f5b25.554c25",
	"type": "chatbot-waiting",
	"z": "ca9c0d4d.800a6",
	"waitingType": "",
	"x": 260,
	"y": 480,
	"wires": [
		["42555631.db03e8"]
	]
}, {
	"id": "485d1c8.6386ce4",
	"type": "change",
	"z": "defd9396.4d5d1",
	"name": "Muda payload para ir para controles",
	"rules": [{
		"t": "set",
		"p": "payload",
		"pt": "msg",
		"to": "{\"group\":{\"hide\":[\"Home_Login\"],\"show\":[\"Home_Luz_1\",\"Home_Luz_2\", \"Home_Presença\", \"Home_GroupLogout\"]}}",
		"tot": "json"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 950,
	"y": 80,
	"wires": [
		["b3edc729.f14658"]
	]
}, {
	"id": "c5980bda.4b7618",
	"type": "switch",
	"z": "defd9396.4d5d1",
	"name": "Redireciona pós login",
	"property": "payload.login",
	"propertyType": "msg",
	"rules": [{
		"t": "regex",
		"v": "correto",
		"vt": "str",
		"case": false
	}, {
		"t": "else"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 2,
	"x": 622.5,
	"y": 82.25,
	"wires": [
		["485d1c8.6386ce4"],
		[]
	]
}, {
	"id": "d76d922d.08e38",
	"type": "function",
	"z": "defd9396.4d5d1",
	"name": "checkLogin",
	"func": "if(msg.payload.login == 'aqui' \n    && msg.payload.password == '12345')\n{\n    var log = msg.payload.login;\n    var pwd = msg.payload.password;\n    \n    msg.payload.login = 'correto';\n    msg.payload.password = 'correto';\n    return msg;\n}\n\n\n\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 370.5,
	"y": 82.25,
	"wires": [
		["c5980bda.4b7618"]
	]
}, {
	"id": "9e6e2319.98f92",
	"type": "change",
	"z": "defd9396.4d5d1",
	"name": "Muda payload para ir para controles",
	"rules": [{
		"t": "set",
		"p": "payload",
		"pt": "msg",
		"to": "{\"group\":{\"show\":[\"Home_Login\"],\"hide\":[\"Home_Luz_1\",\"Home_Luz_2\", \"Home_Presença\",\"Home_GroupLogout\"]}}",
		"tot": "json"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 828.5,
	"y": 223.5,
	"wires": [
		["b3edc729.f14658"]
	]
}, {
	"id": "56e6ae40.7390a",
	"type": "comment",
	"z": "defd9396.4d5d1",
	"name": "Formulario de Login",
	"info": "Formulario contendo os campo de de usuario e senha \npara autenticação.\n\nSe login correto: manda comando para o UI_CONTROL \n    esconder o formulário e mostrar os controles\n    dos relés;\n    \nSe login incorreto: apenas limpa o formulário;\n",
	"x": 499,
	"y": 42.25,
	"wires": []
}, {
	"id": "70a0e970.df5f18",
	"type": "comment",
	"z": "defd9396.4d5d1",
	"name": "Sinal de que abriu no browser",
	"info": "Quando a página do node red é aberta no browser \n(pela primeira vez) esse bloco dispara um sinal \npara então o UI_CONTROL esconder os blocos de \ncontrole  e mostrar o de login.\n\n\n-Isso é necessário porque não temos como esconder\nwidgets por padrão, apenas por meio de código.",
	"x": 560,
	"y": 180,
	"wires": []
}, {
	"id": "4f97eed4.53dd5",
	"type": "comment",
	"z": "defd9396.4d5d1",
	"name": "LOGOUT",
	"info": "Evento de logout, esconderá as widgets de controle e \nmostrará o formulário de Login.",
	"x": 862.1666564941406,
	"y": 324.2500114440918,
	"wires": []
}, {
	"id": "e6be95b3.2c5c98",
	"type": "ui_button",
	"z": "defd9396.4d5d1",
	"name": "Logout",
	"group": "1cb4c189.a5631e",
	"order": 4,
	"width": "0",
	"height": "0",
	"passthru": false,
	"label": "Logout",
	"tooltip": "",
	"color": "",
	"bgcolor": "",
	"icon": "",
	"payload": "{\"group\":{\"hide\":[\"Home_Luz_1\",\"Home_Luz_2\",\"Home_Presença\",\"Home_GroupLogout\"],\"show\":[\"Home_Login\"]}}",
	"payloadType": "json",
	"topic": "",
	"x": 830.7500114440918,
	"y": 368.50000381469727,
	"wires": [
		["b3edc729.f14658"]
	]
}, {
	"id": "3800f923.1bacd6",
	"type": "ui_form",
	"z": "defd9396.4d5d1",
	"name": "formlogin",
	"label": "",
	"group": "becc42f9.4c174",
	"order": 2,
	"width": "0",
	"height": "0",
	"options": [{
		"label": "Login",
		"value": "login",
		"type": "text",
		"required": true
	}, {
		"label": "Senha",
		"value": "password",
		"type": "password",
		"required": true
	}],
	"formValue": {
		"login": "",
		"password": ""
	},
	"payload": "",
	"submit": "Confirmar",
	"cancel": "Cancel",
	"topic": "",
	"x": 155.5,
	"y": 82.25,
	"wires": [
		["d76d922d.08e38"]
	]
}, {
	"id": "1f3fb783.e428c8",
	"type": "ui_template",
	"z": "defd9396.4d5d1",
	"group": "becc42f9.4c174",
	"name": "",
	"order": 0,
	"width": "0",
	"height": "0",
	"format": "<script>\n(function() {\n    var count = 0\n    function testit(msg,scope) {\n        count = count+1;\n        console.log(\"In testit \" + msg.payload + \"  count = \" + count);\n        scope.send({payload: \"from testit \" + msg.payload + \"  count = \" + count});\n    }\n    \n    (function(scope) {\n        scope.send({payload: \"preload\"});   // this gets sent when the view is opened in the browser\n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                testit(msg, scope);\n            }\n        });\n    })(scope);\n})();\n</script>",
	"storeOutMessages": false,
	"fwdInMessages": false,
	"templateScope": "local",
	"x": 386,
	"y": 222.5,
	"wires": [
		["9e6e2319.98f92", "8d4b9780.a54ee8", "3ab38857.37b9e8"]
	]
}, {
	"id": "b3edc729.f14658",
	"type": "ui_ui_control",
	"z": "defd9396.4d5d1",
	"name": "",
	"x": 1182.75,
	"y": 227.25,
	"wires": [
		[]
	]
}, {
	"id": "69cf4b8a.d10b74",
	"type": "mqtt in",
	"z": "defd9396.4d5d1",
	"name": "MQTT Input",
	"topic": "comodo1/#",
	"qos": "2",
	"datatype": "auto",
	"broker": "9a13df65.e1351",
	"x": 70,
	"y": 800,
	"wires": [
		["1fa2158b.e2462a", "49e4a659.cbc0e8", "8d4b9780.a54ee8", "f749e129.061fa"]
	]
}, {
	"id": "1fa2158b.e2462a",
	"type": "debug",
	"z": "defd9396.4d5d1",
	"name": "InputMQTT",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"targetType": "full",
	"x": 450,
	"y": 440,
	"wires": []
}, {
	"id": "19bcf2e0.8972dd",
	"type": "ui_button",
	"z": "defd9396.4d5d1",
	"name": "R1_ON",
	"group": "b8b4ed2.aeeb11",
	"order": 1,
	"width": "2",
	"height": "1",
	"passthru": false,
	"label": "ON",
	"tooltip": "",
	"color": "",
	"bgcolor": "",
	"icon": "",
	"payload": "1",
	"payloadType": "str",
	"topic": "comodo1/luz1",
	"x": 360,
	"y": 580,
	"wires": [
		["8d4b9780.a54ee8", "5de54d37.307b74"]
	]
}, {
	"id": "54ee0ea6.8ce7e",
	"type": "ui_button",
	"z": "defd9396.4d5d1",
	"name": "R1_OFF",
	"group": "b8b4ed2.aeeb11",
	"order": 2,
	"width": "2",
	"height": "1",
	"passthru": false,
	"label": "OFF",
	"tooltip": "",
	"color": "",
	"bgcolor": "",
	"icon": "",
	"payload": "0",
	"payloadType": "str",
	"topic": "comodo1/luz1",
	"x": 360,
	"y": 640,
	"wires": [
		["8d4b9780.a54ee8", "5de54d37.307b74"]
	]
}, {
	"id": "8d4b9780.a54ee8",
	"type": "function",
	"z": "defd9396.4d5d1",
	"name": "ParseToLabelR1",
	"func": "if(msg.payload == \"1\" && msg.topic == \"comodo1/luz1\")\n{\n    msg.payload = 'ON';\n    //(\"ON\");\n    return msg;\n}\nelse if(msg.payload === \"0\" && msg.topic == \"comodo1/luz1\")\n{\n    msg.payload = 'OFF';\n    //(\"OFF\");\n    return msg;\n}\nelse if(msg.payload == \"2\" && msg.topic == \"comodo1/luz1\")\n{\n    msg.payload = 'P';\n    //(\"presença\");\n    return msg;\n}",
	"outputs": 1,
	"noerr": 0,
	"x": 870,
	"y": 600,
	"wires": [
		["1bcf1585.b9f18a", "a4f3bc69.714c4"]
	]
}, {
	"id": "1bcf1585.b9f18a",
	"type": "ui_text",
	"z": "defd9396.4d5d1",
	"group": "b8b4ed2.aeeb11",
	"order": 4,
	"width": "6",
	"height": "1",
	"name": "StatusRelay1",
	"label": "Status:",
	"format": "{{msg.payload}}",
	"layout": "row-center",
	"x": 1150,
	"y": 540,
	"wires": []
}, {
	"id": "ebb256fa.818d18",
	"type": "ui_button",
	"z": "defd9396.4d5d1",
	"name": "R2_ON",
	"group": "2d55317a.6e7ace",
	"order": 1,
	"width": "2",
	"height": "1",
	"passthru": false,
	"label": "ON",
	"tooltip": "",
	"color": "",
	"bgcolor": "",
	"icon": "",
	"payload": "1",
	"payloadType": "str",
	"topic": "comodo1/luz2",
	"x": 420,
	"y": 1020,
	"wires": [
		["49e4a659.cbc0e8", "5de54d37.307b74"]
	]
}, {
	"id": "8edc10fd.b37af",
	"type": "ui_button",
	"z": "defd9396.4d5d1",
	"name": "R2_OFF",
	"group": "2d55317a.6e7ace",
	"order": 2,
	"width": "2",
	"height": "1",
	"passthru": false,
	"label": "OFF",
	"tooltip": "",
	"color": "",
	"bgcolor": "",
	"icon": "",
	"payload": "0",
	"payloadType": "str",
	"topic": "comodo1/luz2",
	"x": 420,
	"y": 1100,
	"wires": [
		["49e4a659.cbc0e8", "5de54d37.307b74"]
	]
}, {
	"id": "49e4a659.cbc0e8",
	"type": "function",
	"z": "defd9396.4d5d1",
	"name": "ParseToLabelR2",
	"func": "if(msg.payload == \"1\"  && msg.topic == \"comodo1/luz2\")\n{\n    msg.payload = 'ON';\n    return msg;\n}\nelse if(msg.payload === \"0\"  && msg.topic == \"comodo1/luz2\")\n{\n    msg.payload = 'OFF';\n    return msg;\n}\nelse if(msg.payload == \"2\"  && msg.topic == \"comodo1/luz2\")\n{\n    msg.payload = 'P';\n    //(\"presença\");\n    return msg;\n}",
	"outputs": 1,
	"noerr": 0,
	"x": 810,
	"y": 1100,
	"wires": [
		["d99c723d.6fb1b", "c356acc4.e08f"]
	]
}, {
	"id": "d99c723d.6fb1b",
	"type": "ui_text",
	"z": "defd9396.4d5d1",
	"group": "2d55317a.6e7ace",
	"order": 4,
	"width": "6",
	"height": "1",
	"name": "StatusRelay2",
	"label": "Status",
	"format": "{{msg.payload}}",
	"layout": "row-center",
	"x": 1170,
	"y": 1040,
	"wires": []
}, {
	"id": "a4f3bc69.714c4",
	"type": "debug",
	"z": "defd9396.4d5d1",
	"name": "debug buttons",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"targetType": "full",
	"x": 1140,
	"y": 620,
	"wires": []
}, {
	"id": "5f4b2f2.308fbd",
	"type": "debug",
	"z": "defd9396.4d5d1",
	"name": "InputMQTTFormat",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"targetType": "full",
	"x": 570,
	"y": 840,
	"wires": []
}, {
	"id": "c356acc4.e08f",
	"type": "debug",
	"z": "defd9396.4d5d1",
	"name": "",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "false",
	"x": 1180,
	"y": 1140,
	"wires": []
}, {
	"id": "5de54d37.307b74",
	"type": "mqtt out",
	"z": "defd9396.4d5d1",
	"name": "rasp",
	"topic": "",
	"qos": "2",
	"retain": "true",
	"broker": "44c7aac4.eec464",
	"x": 1190,
	"y": 820,
	"wires": []
}, {
	"id": "ddbb2a86.334d48",
	"type": "ui_button",
	"z": "defd9396.4d5d1",
	"name": "R1_Presence",
	"group": "b8b4ed2.aeeb11",
	"order": 3,
	"width": "2",
	"height": "1",
	"passthru": false,
	"label": "Presença",
	"tooltip": "",
	"color": "",
	"bgcolor": "",
	"icon": "",
	"payload": "2",
	"payloadType": "str",
	"topic": "comodo1/luz1",
	"x": 340,
	"y": 700,
	"wires": [
		["8d4b9780.a54ee8", "5de54d37.307b74", "d60fd41e.0b4db8"]
	]
}, {
	"id": "cc319c99.1344c",
	"type": "ui_button",
	"z": "defd9396.4d5d1",
	"name": "R2_Presence",
	"group": "2d55317a.6e7ace",
	"order": 3,
	"width": "2",
	"height": "1",
	"passthru": false,
	"label": "Presença",
	"tooltip": "",
	"color": "",
	"bgcolor": "",
	"icon": "",
	"payload": "2",
	"payloadType": "str",
	"topic": "comodo1/luz2",
	"x": 400,
	"y": 1160,
	"wires": [
		["49e4a659.cbc0e8", "5de54d37.307b74"]
	]
}, {
	"id": "3ab38857.37b9e8",
	"type": "debug",
	"z": "defd9396.4d5d1",
	"name": "template debug",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"targetType": "full",
	"x": 440,
	"y": 340,
	"wires": []
}, {
	"id": "52d07349.51691c",
	"type": "ui_text",
	"z": "defd9396.4d5d1",
	"group": "cb24ed45.a15f5",
	"order": 4,
	"width": "6",
	"height": "1",
	"name": "Presença",
	"label": "",
	"format": "{{msg.payload}}",
	"layout": "row-center",
	"x": 740,
	"y": 1300,
	"wires": []
}, {
	"id": "8a2f65c5.0f2688",
	"type": "function",
	"z": "defd9396.4d5d1",
	"name": "ParseToLabelR2",
	"func": "if(msg.payload == \"1\"  )\n{\n    msg.payload = 'Há alguém no cômodo';\n    global.set(\"presenca\", \"1\");\n    return msg;\n}\nelse if(msg.payload === \"0\" )\n{\n    msg.payload = 'Não há ninguém no cômodo';\n    global.set(\"presenca\", \"0\");\n    return msg;\n}",
	"outputs": 1,
	"noerr": 0,
	"x": 390,
	"y": 1300,
	"wires": [
		["52d07349.51691c"]
	]
}, {
	"id": "d60fd41e.0b4db8",
	"type": "debug",
	"z": "defd9396.4d5d1",
	"name": "Debug botao",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"targetType": "full",
	"x": 1190,
	"y": 720,
	"wires": []
}, {
	"id": "6cdfde62.91a35",
	"type": "rbe",
	"z": "defd9396.4d5d1",
	"name": "",
	"func": "rbe",
	"gap": "",
	"start": "",
	"inout": "out",
	"property": "payload",
	"x": 170,
	"y": 1020,
	"wires": [
		["8a2f65c5.0f2688", "93eb8052.e3c33", "f0dce41f.e0ae38"]
	]
}, {
	"id": "93eb8052.e3c33",
	"type": "debug",
	"z": "defd9396.4d5d1",
	"name": "Debug presença",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"targetType": "full",
	"x": 240,
	"y": 1340,
	"wires": []
}, {
	"id": "f0dce41f.e0ae38",
	"type": "link out",
	"z": "defd9396.4d5d1",
	"name": "",
	"links": ["b34d1fa8.759998"],
	"x": 375,
	"y": 1240,
	"wires": []
}, {
	"id": "f749e129.061fa",
	"type": "switch",
	"z": "defd9396.4d5d1",
	"name": "",
	"property": "topic",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "comodo1/sensor1",
		"vt": "str"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 1,
	"x": 120,
	"y": 940,
	"wires": [
		["6cdfde62.91a35"]
	]
}]
